@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #2b495d;
    --secondary: #e7aa60;
    --highlight: #d9225b
}


input, button {
    background:none;
    border: none;
    outline:none;
}

a { color: unset }

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.alt-color { color: var(--primary) !important}

.brand-logo {
    display: flex;
    align-items: center;
    cursor:pointer
}

.game-title {
    color: #fff;
    font-weight:600
}

.bible-img {
    width: 50px;
    margin-right: 1rem
}

nav ul, .icons {
    display:flex;
    align-items: center;
}

nav li, .icons li {
    margin-right: 1em;
    position: relative
}

nav li input {
    font-size: 1em;
    cursor: pointer;
    transition: color .5s ease-out;
    color: #fff
}

nav li input.active { color: var(--secondary) }

nav li input:hover, .icons li:hover { color: var(--secondary) !important }

nav li::after {
    content:'';
    position:absolute;
    left:0;
    bottom:-2px;
    height:3px;
    width: 0;
    background-color:var(--secondary);
    transition: width .5s ease-out;
}

nav li:hover::after {
    width: 100%
}


.hero-container {
    background-image: url(./assets/bible-background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center 70%;
    background-attachment:fixed;
    height:600px;
}

.bg-overflow {
    height: 100%;
    position: relative;
    background-color: rgba(17, 30, 38, 0.4)
}


.hero-content {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    max-width: 100%
}

    .hero-content h2 {
        font-weight: 600;
        margin-bottom: 1.5em;
        font-size: 3.5em;
        color: var(--secondary);
        text-align: center
    }

.play-btn, .confirm-btn {
    padding: .5em 1em;
    border-radius: 2em;
    cursor: pointer;
    font-weight: 600;
    transition: background-color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.play-btn {
    font-size: 1.5em;
    color: var(--highlight);
    border: solid 3px var(--highlight);
}

.play-btn:hover {
    background-color: var(--highlight);
    color: white
}

.verse-container {
    margin: 6em auto;
    width: 800px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.verse-container .text {
    text-align:center;
    word-break:break-word;
    font-size:1.8em;
    line-height: 2em
}

    .verse-container .verse {
        align-self: flex-end;
        font-size: 1.5em;
        color: var(--primary)
    }


footer { padding: 3em !important }

footer h2 {
    color:var(--primary);
    position: relative;
}

    footer h2::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 3px;
        width: 0;
        background-color: var(--primary);
        transition: width .5s ease-out;
    }

footer h2:hover::after {
    width: 100%
}

.icons li img{
    cursor:pointer;
    width: 40px
}

/* GAME SECTION */

main {
    margin: 0 2em;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-number, .score-count {
    font-weight: 600;
    color: var(--primary);
    display: block;
}

.question-number { font-size: 2em }

.score-count { font-size: 1.5em }

.question-statement {
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
}

.question-header, .question-statement, .question-alt-container { margin-bottom: 2em }

.question-statement, .question-alt-container { margin-left: 1em }

.question-alt-container { border-spacing:0 1em }

.question-alt-container label { margin-left: .5em }

.confirm-btn {
    font-size: 1em;
    color: var(--secondary);
    border: solid 1px var(--secondary);
}

.confirm-btn:hover {
    background-color: var(--secondary);
    color: white
}
